<!--
# Most of the HTML below is boilerplate from TodoMVC.
-->
<section id="todoapp">
  <header id="header">
    <h1>todos</h1>
    <input id="new-todo" placeholder="What needs to be done?" autofocus>
  </header>
  <section id="main">
    <input id="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul id="todo-list">
    </ul>
  </section>
  <footer id="footer">
    <span id="todo-count"><strong>0</strong> items</span>
  </footer>
</section>
<footer id="info">
  <p>Double-click to edit a todo</p>
  <span>Template by <a href="http://github.com/sindresorhus">Sindre Sorhus</a></span> •
  <span>Created by <a href="http://jh-lim.com">Jim Lim</a></span> •
  <span>Adapted from <a href="http://todomvc.com">TodoMVC</a></span>
</footer>

<!--
# Here, we use templating provided by Underscore.js. It takes the `title`
# string and the `completed` boolean from the todo model and displays them.
-->
<script type='text/template' id='item-template'>
  <div class="view" data-id="<%%- id %>">
    <input class="toggle" type="checkbox"<%%= completed ? ' checked' : '' %>>
    <label><%%- title %></label>
    <button class="destroy"></button>
  </div>
  <input class="edit" value="<%%- title %>">
</script>
